/Front/ActivosFijos/nbproject/private/
/Front/Activosfijos/nbproject/private/
/Front/Activosfijos/build/
/Front/Activosfijos/dist/
/Front/a/build/
/Front/a/nbproject/private/
/Front/ActivosFijos/dist/
/Front/ActivosFijos/build/